.navigation {
  background-color: pink;
}

.content {
  background-color: white;
}

.navbar {
  background-color: #D1AEAE;
  background-color: black;
}

.nav.navbar-nav li a {
    color: red;
}
h1{
  align:center;
}
.brand-font {
  font-size: 22px;
  font-family: Dosis;
}

p {
  font-size: 22px;
  font-family: Dosis;
  line-height: 175%;
}

li {
  font-size: 22px;
  font-family: Dosis;
}
/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 40px 0;
    background-color: black;
}

#footer {
    background: black !important;
}

#footer a {
    color: red;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color: red;
}
#footer ul.social li a:hover{
	color:red;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
